<% if flash[:notice] %>
<div id='notice'><%= flash[:notice] %></div>
<% end %>

<form action="/users/password_reset" method="post">
  Email: <input type="text" name="email">
  <input type="submit" value="Reset password">
</form>
